body{
    background:url("carro.jpg") no-repeat right top fixed;
    background-size: cover;

}

.ayrton-imagem img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    
}



h1{
    color: white;
   }

h4{
    color: white;
  }

h5{
    color: white;

}

.ayrton-imagem{
    margin-top: 55vh;
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
